.place__text {
  grid-area: text;
}

@media (max-width: 767px) {
  .place__text {
    margin-left: 16px;
    margin-top: 16px;
  }
}

@media (max-width: 420px) {
  .place__text {
    width: calc(100% - 16px * 2);
    margin-top: 32px;
  }
}
