.place__link {
    grid-area: link;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    width: 456px;
    margin: 0px 0px 48px 0px;
}

.place__link:hover {
    opacity: 0.8;
}

@media (max-width: 544px) {
    .place__link {
      display: none;
    }
}