.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  padding: 102px 16px 48px 16px;
  margin: auto;
}

@media (max-width: 720px) {
  .footer {
    flex-direction: column;
  }
}